<html lang="en">

<body>
    <div class='container' id='container'>
        <h1>Select a Table:</h1>
        <form action="/" method="POST">
            <button name="page" value="users" type="submit">Users</button>
            <button name="page" value="authors" type="submit">Authors</button>
            <button name="page" value="locations" type="submit">Locations</button>
        </form>>
        
    
</body>
</html>
